* {
	background-image: none;
	border: none;
	border-radius: 13px;
}

#outer-box {
    	position: relative;
	border: 3px solid #ff0000;
	padding:6px;
    	background-color: #000000;
}

#window {
	font-size: 24px;
	background-color: transparent;
	color: #ffffff;
}

#entry:selected {
	background-color: #fd0a02;
	color: #ffffff;
}

#text:selected {
	color: #000000;
}

#input {
	background-color: #000000;
	border-bottom: 3px solid transparent;
	color: #ffffff;
	border: 3px solid #ff0000;
	margin-bottom: 6px;
}

image {
	margin-left: .25em;
	margin-right: .25em;
}
